<!--<div class="dateArea" *ngFor="let t of assignments[value].due_date" [ngStyle]="{'background-image': 'url('+ 'assets/images/' + t.image + ')', 'background-size': 'contain', 'background-repeat': 'no-repeat'}">-->
    <!--  <img *ngIf="value>0 && value < amount-2" [src]="imageSrc(this.assignments[value].due_date)" class="img-responsive imageSize visible-sm visible-xs"/> -->
<div class="dateArea" *ngFor="let t of assignments[value].due_date">
<div class="floats area" [ngStyle]="{'margin-top': '-5px'}">
		<div class="text-center" [ngStyle]="{'background': ui?.buttons?.color, 'color': '#ffffff', 'margin-top': '-15px'}"><h3>{{t.month}}</h3></div>
		<div class="text-center" [ngStyle]="{'background': ui?.buttons?.color, 'color': '#ffffff', 'height': '65px', 'margin-top': '-35px'}"> <h1 [ngStyle]="{'font-size': '3.9em', 'padding-top': '3px'}">{{t.day}}</h1> </div>
</div>
		<div class="area floats-right" [ngStyle]="{'margin-top': '0px','background': ui?.buttons?.hover, 'color': '#ffffff', 'height': 'auto'}">
			<h1 class="text-center" [ngStyle]="{'font-size': '2.5em', 'padding-top': '3px'}"> {{t.percentage}}% </h1>
		</div>
</div>
