.dateArea{
  width: 100%;
  height: 100px;
  position: relative;
}

.imageSize{
	width: 100%;
	height: auto;
  position: relative;
  top: 0px;
  left: 0px;
	//top: -40px;
}

.month{
  position: absolute;
  width: 34%;
  height: 25px;
  padding: 0px;
  z-index: 40;
  top: -13px;
}

.month h3{
  text-align: center;
  font-size: 100%;
  font-weight: bold !important;
  color: #ffffff;
}

.day{
  position: absolute;
  width: 34%;
  height: 50px;
  padding: 0px;
  z-index: 40;
  top: 26px;
  left: 17px;
}

.day h2{
  text-align: center;
  font-size: 300%;
  color: #ffffff;
  margin-top: 2px;
}

.percent{
  position: absolute;
  width: 37%;
  height: 50px;
  padding: 0px;
  z-index: 40;
  top: 45px;
  left: 110px;
 // border: 1px solid red;
}

.percent h2{
  text-align: center;
  font-size: 230%;
  color: #ffffff;
  margin-top: 2px;
}