<!--instructions -->
<!-- Title and symbol -->
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="data.value == -1">
    <h2>Starting Page</h2>
    <p> This is your starting page. You can edit the Planner title, Starting page title, and the instructions here. </p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong> Settings </strong>
        </div>
        <div class="panel-body">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" *ngIf="data.value==-1">
                <p *ngIf="data.value==-1"><strong>Planner Title</strong></p>
                <p *ngIf="data.value==-1"></p>
                <form>
                <div class="form-group" *ngIf="data.value==-1">
                    <input type="text" class="form-control" [value]="appTitle" [(ngModel)]="appTitle" (ngModelChange)="data.course_title = $event" name="titles" required>
                </div>
                </form>
                <!--   <div class="input-group">
                        <span class="input-group-addon">Symbol Letter: </span>
                        <input type="text" class="form-control" placeholder="Enter Symbol Here..." [(ngModel)]="Symbol" [value]="Symbol" (ngModelChange)="c.symbol = $event" required>
                    </div> -->
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" *ngIf="data.value==-1">
                <p *ngIf="data.value==-1"><strong>Assignment Title</strong></p>
                <p *ngIf="data.value==-1"></p>
                <form>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="QuestionTitle" [value]="QuestionTitle" (ngModelChange)="data.instructions.title = $event" name="qtitle" required>
                </div>
                <p *ngIf="data.value==-1"></p>
                <p *ngIf="data.value==-1"><strong>Instructions</strong></p>       
                <div class="form-group" *ngIf="data.value==-1">
                    <textarea type="text" class="form-control" [(ngModel)]="Instructions" maxlength="300" [value]="Instructions" (ngModelChange)="data.instructions.instructions = $event" name="instruct" required></textarea>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- assignments -->
<div *ngIf="data.value<data?.assignments?.length-1">
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" *ngFor="let c of data?.assignments; let i = index">
    <div class="contentArea" *ngIf="i==data.value">
        <h2> Task {{ i+1 }}</h2>
        <p> These are the various task that you can create and modify. Please enter the information for each task. You can also add and remove tasks and assignments.</p>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Assignment Settings</strong>
            </div>
            <div class="panel-body">
                <!-- Instructions and assignments -->
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <p *ngIf="data.value>=0"><strong> Assignment Title</strong></p>
                    <p *ngIf="data.value>=0"></p>
                    <form>
                    <div class="form-group" *ngIf="data.value>=0">
                        <input type="text" class="form-control" [(ngModel)]="QuestionTitle" [value]="QuestionTitle" (ngModelChange)="c.title = $event" name="questions" required>
                    </div>
                    <p *ngIf="data.value>=0"><strong> Assignment Information</strong></p>
                    <p *ngIf="data.value>=0"></p>
                    <div class="form-group" *ngIf="data.value>=0">
                        <textarea type="text" class="form-control" [(ngModel)]="asstInformation" [value]="asstInformation" maxlength="300" (ngModelChange)="c.instructions = $event" name="infos" required></textarea>
                    </div>
                    </form>
                    <p></p>
                </div>
                <!-- Date and Percentage -->
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <form>
                    <p *ngIf="data.value>=0"><strong> Month </strong></p>
                    <p *ngIf="data.value>=0"></p>
                    <div class="form-group" *ngIf="data.value>=0">
                        <input type="text" class="form-control" [(ngModel)]="Month" [value]="Month" (ngModelChange)="c.due_date[0].month = $event" name="months">
                    </div>
                    <p *ngIf="data.value>=0"><strong> Day </strong></p>
                    <p *ngIf="data.value>=0"></p>
                    <div class="form-group" *ngIf="data.value>=0">
                        <input type="text" class="form-control" [(ngModel)]="Day" [value]="Day" (ngModelChange)="c.due_date[0].day = $event" name="days">
                    </div>
                    <p *ngIf="data.value>=0"><strong> Percentage </strong></p>
                    <p *ngIf="data.value>=0"></p>
                    <div class="form-group" *ngIf="data.value>=0">
                        <input type="text" class="form-control" [(ngModel)]="Percentage" [value]="Percentage" (ngModelChange)="c.due_date[0].percentage = $event" name="percentages">
                    </div>
                    </form>
                    <p></p>
                </div>
                <!-- Add Task Area -->
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" *ngIf="data.value>=0">
                <p *ngIf="data.value>=0"><strong> Assignment Options </strong></p>
                <p *ngIf="data.value>=0"></p>
                    <button type="button" class="btn btn-success btn-lg" (click)="addNewSlide(i)" *ngIf="data.value>=0 && data?.assignments?.length-2 < MAX"><i class="fa fa-plus"></i> Add New Assignment</button>
                    <button class="btn btn-success btn-lg" (click)="addTasksToPlanner(i)"><i class="fa fa-plus"></i> Add New Task</button>
                    <button type="button" class="btn btn-danger btn-lg" (click)="removeSlide(i)" *ngIf="data.value>=1"><i class="fa fa-times"></i> Remove Assignment</button>
                </div>
                <p></p>
                <p></p>
                <hr/>
                <!-- add and edit task area -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <app-input-tasks [c]="c" [i]="i" [data]="data" [arr]="c.tasks"></app-input-tasks>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!--navigation-->
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <h2 *ngIf="data?.value == data?.assignments?.length-1"> Review Area </h2>
        <p *ngIf="data?.value == data?.assignments?.length-1"> This is a preview of your review area. This is where students will review their selections and print their planner. </p>
    <div class="panel panel-default">
    <div class="panel-heading">
            <strong> Assignnment Navigation </strong>
    </div>
        <div class="panel-body">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" [ngClass]="{'active': data.value == -1}" class="btn btn-default btn-lg" (click)="goToStart()">Starting Page</button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" [ngClass]="{'active': i==data.value}" class="btn btn-default btn-lg" *ngFor="let n of data?.assignments; let i = index" (click)="goToQ(i)">{{ changeName(i) }}</button>
            </div>
        </div>
    </div>
    <p></p>
    <p></p>
</div>
