<!--
    title and subtitle with symbol
 -->
    <div class="header" *ngFor="let d of assignments | keys; let i = index">
      <div class="symbol pull-left hidden-xs" *ngIf="i==data.value">{{ d.value.symbol }}</div>
      <h1 class="sub pull-left padding-left hidden-xs" *ngIf="i!=1 && i==data.value">{{  d.value.title }}</h1>
      <!--show if short text -->
      <h1 class="subForLarge pull-left padding-left hidden-xs" *ngIf="i==1 && i==data.value">{{ d.value.title }}</h1>
      <!--show if long text -->
      <!-- mobile text -->
      <div class="symbol col-xs-3 visible-xs" *ngIf="i==data.value">{{ d.value.symbol }}</div>
      <h1 class="sub col-xs-9 visible-xs" *ngIf="i!=1 && i==data.value">{{  d.value.title }}</h1>
      <h1 class="subForLarge col-xs-9 visible-xs" *ngIf="i==1 && i==data.value">{{ d.value.title }}</h1>
    </div>
