<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
<div class="infos" *ngFor="let d of assignments | keys; let i = index">
	<!-- <img [src]="imageSrc(d.value.due_date)" class="taskImage1" /> -->
	<p *ngIf="i==data.value"> {{ d.value.instructions }} </p>
</div>
</div>
<!-- progress bar on each question -->
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
<div class="progress">
		<div class="progress-bar" [ngClass]="colors()" role="progressbar" aria-valuenow="progress()" aria-valuemin="0" aria-valuemax="amount-2" [ngStyle]="{'width': progress()+'%'}">
		</div>
</div>
<span class="circleArea" [ngStyle]="{'left': ((progress()/2.6)+ 5)+'%', 'transition': 'left 0.3s'}"> {{ progress() }}% </span>
</div>
<hr />
