.heading{
	width: 100%;
	min-height: 5%;
	height: auto;
	padding: 0px 20px 0px 20px;
	position: relative;
}

h1{
	color: #ffffff;
	float: left;
  z-index: 1000;
  position: relative;
  top: 0px;
}
