<h2>Theme Editor</h2>

<div class="panel panel-default">
<div class="panel-heading"><strong><i class="fa fa-picture-o"></i> Background Image</strong></div>
<div class="panel-body">
<p><strong>From Web</strong></p>
<div class="input-group">
      <input type="text" class="form-control" aria-label="..." placeholder="Url goes here... jpg, png, svg, etc" id="urlArea">
      <span class="input-group-btn">
        <button class="backgroundchange btn btn-default btn-md" (click)="clearText('urlArea')"><i class="fa fa-times"></i></button>
        <button class="backgroundchange btn btn-default btn-md" (click)="changeBackgroundImage('urlArea')">Save</button>
      </span>
</div>
<p></p>
<!-- alert if there is an error -->
<div class="alert alert-danger alert-dismissible animated fadeIn" role="alert" *ngIf="error==true">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>ERROR:</strong> Please enter a valid URL.
</div>

<p></p>

<p><strong>File Upload</strong></p>
<div class="form-group">
    <input type="file" id="fileUpload" (change)="openBrowse($event)">
  </div>

</div>
</div>

<div class="panel panel-default">
<div class="panel-heading"><strong><i class="fa fa-list"></i> Text</strong></div>
<div class="panel-body">
<p><strong>Font</strong></p>
<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-font"></i> Choose Font <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Georgia</a></li>
    <li><a href="#">Arial</a></li>
    <li><a href="#">Verdana</a></li>
  </ul>
</div>

<p></p>

<p></p>

<p><strong>Heading Title Color</strong></p>
<div class="input-group">
      <input type="text" class="headingsColor jscolor form-control" value="FFFFFF" id="headingsColor">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="changeHeadingsColor('headingsColor')">Apply</button>
      </span>
</div>

<p></p>


<p><strong>Symbol Text Color</strong></p>
<div class="input-group">
      <input type="text" class="textColor jscolor form-control" value="FFFFFF" id="textColor">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="changeTextColor('textColor')">Apply</button>
      </span>
</div>

</div>
</div>



<div class="panel panel-default">
<div class="panel-heading"><strong><i class="fa fa-paint-brush"></i> Theme Colors</strong></div>
<div class="panel-body">
<p><strong>First Theme Color</strong></p>
<div class="btn-group" role="group" aria-label="...">
  <button class="firstColor jscolor btn btn-default btn-md" id="firstColor"></button>
  <button class="firstSelection btn btn-default btn-md" id="firstSelect" (click)="changeFirstColor('firstColor')">Apply</button>
</div>

<p></p>

<p><strong>Second Theme Color</strong></p>
<div class="btn-group" role="group" aria-label="...">
  <button class="secondColor jscolor btn btn-default btn-md" id="secondColor"></button>
  <button class="secondSelection btn btn-default btn-md" id="secondSelect" (click)="changeSecondColor('secondColor')">Apply</button>
</div>

<p></p>

<p><strong>Third Theme Color</strong></p>
<div class="btn-group" role="group" aria-label="...">
  <button class="thirdColor jscolor btn btn-default btn-md" id="thirdColor"></button>
  <button class="thirdSelection btn btn-default btn-md" id="thirdSelect" (click)="changeThirdColor('thirdColor')">Apply</button>
</div>

</div>
</div>