<h2>Theme Editor</h2>

<div class="panel panel-default">
<div class="panel-heading"><strong><i class="fa fa-picture-o"></i> Background Image</strong></div>
<div class="panel-body">
<p><strong>From Web</strong></p>
<div class="input-group">
      <input type="text" class="form-control" aria-label="..." placeholder="Url goes here... jpg, png, svg, etc" id="urlArea">
      <span class="input-group-btn">
        <button class="backgroundchange btn btn-default btn-md" (click)="clearText('urlArea')"><i class="fa fa-times"></i></button>
        <button class="backgroundchange btn btn-default btn-md" (click)="changeBackgroundImage('urlArea')">Save</button>
      </span>
</div>
<p></p>
<!-- alert if there is an error -->
<div class="alert alert-danger alert-dismissible animated fadeIn" role="alert" *ngIf="error==true">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>ERROR:</strong> Please enter a valid URL.
</div>

<p></p>

<p><strong>File Upload</strong></p>
<div class="form-group">
    <input type="file" id="fileUpload" (change)="openBrowse($event)">
  </div>

</div>
</div>

<!-- colors -->
<div class="panel panel-default">
<div class="panel-heading"><strong><i class="fa fa-paint-brush"></i> Theme Colors</strong></div>
<div class="panel-body">
<p><strong>Monochromatic Color Palette</strong></p>
<div class="input-group">
      <span class="input-group-addon" id="basic-addon1">HEX #</span>
      <input type="text" class="firstColor jscolor form-control" value="FFFFFF" id="userColor">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="getMonoColorPalette('userColor')">Apply</button>
      </span>
</div>
<p></p>

<div class="input-group" *ngFor="let p of monoColors | keys; let i = index">
     <input type="text" class="jscolor form-control" value="{{monoColors[i]}}" id="m{{i}}" [ngStyle]="{'background': monoColors[i]}">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="editColors(i)">Apply</button>
      </span>
</div>

<p></p>

<p><strong>Analogous Color Palette</strong></p>
<div class="input-group">
      <span class="input-group-addon" id="basic-addon1">HEX #</span>
      <input type="text" class="analoColor jscolor form-control" value="FFFFFF" id="analoColor">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="getAnalogousColorPalette('analoColor')">Apply</button>
      </span>
</div>
<p></p>

<div class="input-group" *ngFor="let a of analoColors | keys; let i = index">
     <input type="text" class="jscolor form-control" value="{{analoColors[i]}}" id="a{{i}}" [ngStyle]="{'background': analoColors[i]}">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="editColors(i)">Apply</button>
      </span>
</div>

</div>
</div>

<!--text -->
<div class="panel panel-default">
<div class="panel-heading"><strong><i class="fa fa-list"></i> Text</strong></div>
<div class="panel-body">
<p><strong>Font</strong></p>
<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-font"></i> Choose Font <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Georgia</a></li>
    <li><a href="#">Arial</a></li>
    <li><a href="#">Verdana</a></li>
  </ul>
</div>

</div>
</div>



