
<!-- tooltips for bottom nav bar -->
<!--<app-tooltip></app-tooltip>-->
<!-- These are the cicle buttons at the bottom nav-->
<ul class="nav nav-justified buttonList">
    <li *ngFor="let d of assignments; let i = index" class="list">
    <button type="button" class="numButtons circle" id={{i}} (click)="goTo(i)" [ngStyle]="{'background': currentColor(i), 'border-color': currentColor(i)}">
          {{ navOutput(i, d.symbol) }}
      </button>
      <div id="line" class="hidden-xs hidden-sm" *ngIf="i<=assignments.length"></div>
  </li>
  <li class="list">
    <button type="button" class="numButtons circle" id="r" [ngStyle]="{'background': ui?.buttons?.color, 'border-color': ui?.buttons?.color}">
          R
      </button>
  </li>
</ul>
