<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4" *ngFor="let x of arr; let b = index">
<p></p>
<h4><strong> Task {{ b+1 }}</strong></h4>
<p></p>
<form>
	<p *ngIf="data.value>=0"><strong> Title </strong></p>
    <p *ngIf="data.value>=0"></p>
    <div class="form-group" *ngIf="data.value>=0">
       <input type="text" class="form-control" [(ngModel)]="x.name" [value]="Titlesb" (ngModelChange)="x.name = $event" name="Titles">
   </div>

   <p *ngIf="data.value>=0"><strong> Description</strong></p>
    <p *ngIf="data.value>=0"></p>
    <div class="form-group" *ngIf="data.value>=0">
       <input type="text" class="form-control" [(ngModel)]="x.information" [value]="Informationb" (ngModelChange)="x.information = $event" name="Information">
   </div>

   <button class="btn btn-danger btn-md" *ngIf="arr?.length > 1" (click)="removeTask(x)"><i class="fa fa-times"></i> Remove Task</button>
</form>
<p></p>
</div>
