<!-- instructions area -->
<div class="intro">
    <h2 class="titles" [ngStyle]="{'color': ui?.subheadings?.color}">Instructions</h2>
    <p class="alert alert-info" [ngStyle]="{'background': '#F5F5F5', 'border-color': '#F5F5F5', 'color': ui?.text?.color}">{{ instructions }}</p>
    <h2 class="titles" [ngStyle]="{'color': ui?.subheadings?.color}"> Keyboard Shortcuts </h2>
    <p class="alert alert-warning" [ngStyle]="{'background': '#F5F5F5', 'border-color': '#F5F5F5', 'color': ui?.text?.color}">
      Text will be here
    </p>
    <button class="btn btn-primary btn-lg visible-sm visible-xs" (click)="data.value = 1">START</button>
</div>
