<!-- instructions area -->
<div class="intro">
    <h2 class="titles">Instructions</h2>
    <p class="alert alert-info">{{ instructions }}</p>
    <h2 class="titles"> Keyboard Shortcuts </h2>
    <ul class="alert alert-warning">
      <li><i class="fa fa-check green"></i> NEXT/PREV - <i class="fa fa-arrow-right green"></i> and <i class="fa fa-arrow-left green"></i></li>
      <li><i class="fa fa-check green"></i> Help Menu - PRESS H</li>
      <li><i class="fa fa-check green"></i> Reload Activity - PRESS R</li>
      <li><i class="fa fa-check green"></i> PRINT Activity - PRESS P</li>
    </ul>
    <button class="btn btn-primary btn-lg visible-sm visible-xs" (click)="data.value = 1">START</button>
</div>
