// Mobile styles are located here
/* Global color styles*/
$background: #F2F2F2; // background gray
// Colors for app
$red: #F04C4B; // mostly for buttons
$blue: #607D8B; // mostly for divs
$green: #9FBA91; // mostly for navigation and text
$darkBlue: #4A626B; // mostly if blue is already used
$text: #4D4D4D; // used for copy text
$subHeading: #595959; // used for subheadings
$white: #ffffff; //white
$black: #000000; //black

//fonts defaults
@font-face{
	src: url(./assets/fonts/AlfaSlabOne-Regular.ttf);
	font-family: Headings;
}

@font-face{
	src: url(./assets/fonts/JosefinSlab-Regular.ttf);
	font-family: subHeadings;
}

// get the titles specs (font name, size, font color, letter spacing)
@mixin titles($font, $size, $color, $letterSpacing){
	font-family: $font;
	font-size: $size;
	color: $color;
	letter-spacing: $letterSpacing;
}

// buttons styles
@mixin buttonStyles($w, $h, $color, $radius, $border, $font){
	width: $w;
	height: $h;
	background: $color;
	border-radius: $radius;
	border: 1px solid $border;
	font-family: $font;
	font-size: 1.7em;
	color: $white;
}

// Media queries
// large screen sizes - DESKTOPS, TV's
@media (min-width: 1200px) {
  .buttonSpace{
    margin-right: 10px;
  }
}


// medium screen sizes --- DESKTOPS
@media (min-width: 992px) and (max-width: 1199px) {

  .courseTitle{
  	color: $white;
  	font-size: 1.6em !important;
  }

  .highlight{
  	background: $red !important;
  	border: 1px solid $red !important;
  }

	#line{
		margin: 30px 0px 0px 5px !important;
	}

  .buttonList{
    margin-left: 25px !important;
  }
  // circle navigation buttons
  .circle{
  	@include buttonStyles(50px, 50px, $green, 100px, $green, subHeadings);
  	cursor: pointer;
  	text-align: center;
  	font-size: 1.6em;
  	font-weight: lighter;
  }

  .circle:hover{
  	background: $red;
  	border: 1px solid $red;
  }

  // circle symbol
  .symbol{
  	@include buttonStyles(60px, 60px, $red, 100px, $red, subHeadings);
  	text-align: center;
  	font-size: 3.2em;
  }

  .subForLarge {
      font-size: 170% !important;
      margin-top: 17px !important;
  }

  .sub {
      font-size: 188% !important;
      margin-top: 16px !important;
  }

  .symbol, hl{
      float: left;
      margin-right: 15px !important;
  }

  .buttonSpace{
    margin-right: 10px;
  }

}

// small screen sizes -- TABLETS
@media (min-width: 768px) and (max-width: 991px) {

  .courseTitle{
  	color: $white;
  	font-size: 1.3em !important;
  }

  .highlight{
  	background: $red !important;
  	border: 1px solid $red !important;
  }

	.navArea{
		overflow-x: auto !important;
		height: 80px !important;
	}

  // circle navigation buttons
  .circle{
  	@include buttonStyles(45px, 45px, $green, 100px, $green, subHeadings);
  	cursor: pointer;
  	text-align: center;
  	font-size: 1.4em;
  	font-weight: lighter;
  }

  .circle:hover{
  	background: $red;
  	border: 1px solid $red;
  }

  // circle symbol
  .symbol{
  	@include buttonStyles(50px, 50px, $red, 100px, $red, subHeadings);
  	text-align: center;
  	font-size: 2.8em;
  }

  .subForLarge {
      font-size: 145% !important;
      margin-top: 13px !important;
  }

  .sub {
      font-size: 175% !important;
      margin-top: 11px !important;
  }

  .symbol, hl{
      float: left;
      margin-right: 7px !important;
  }

  .buttonSpace{
    margin-right: 10px;
  }

	.buttonList{
		margin-left: 18px !important;
	}

	// next and previous
	#prev, #next{
		top: 0px;
		left: 0px;
		right: 0px;
		font-size: 3em;
	}

.imageSize{
	position: relative !important;
	top: 0px !important;
	width: 35% !important;
}

}

// extra small screen sizes -- IPHONES and MOBILE DEVICES
@media (min-width: 0px) and (max-width: 767px){

  .container{
    min-width: 543px !important;
  }

  h3.activityTitle{
    font-size: 200% !important;
    margin-left: 0px !important;
  }

  .courseTitle{
  	color: $white;
  	font-size: 1.2em !important;
    text-align: left !important;
  }

  .highlight{
  	background: $red !important;
  	border: 1px solid $red !important;
  }

	.numButtons{
	//	margin-right: 10% !important;
//	 float: none !important;
	//	display: inline !important;
	//	white-space: nowrap;
	//	overflow: auto !important;
	}

	.list{
		display: inline !important;
		white-space: nowrap !important
	}

  .box{
  //  margin-top: 0px !important;
  //  margin-bottom: 0px !important;
  }

  .workArea{
    height: auto !important;
    min-height: 0px !important;
  }

	.navArea{
		overflow-x: auto !important;
	//	white-space: nowrap !important;
	}

  // circle navigation buttons
  .circle{
  	@include buttonStyles(45px, 45px, $green, 100px, $green, subHeadings);
  	cursor: pointer;
  	text-align: center;
  	font-size: 1.4em;
  	font-weight: lighter;
  }

  .circle:hover{
  	background: $red;
  	border: 1px solid $red;
  }

  // circle symbol
  .symbol{
  	@include buttonStyles(50px, 50px, $red, 100px, $red, subHeadings);
  	text-align: center;
  	font-size: 2.8em;
  }

  .subForLarge {
      font-size: 130% !important;
      margin-top: 13px !important;
  }

  .sub {
      font-size: 165% !important;
      margin-top: 11px !important;
  }

  .symbol, hl{
      float: left;
      margin-right: 7px !important;
  }

  .buttonSpace{
    margin-right: 10px;
  }

	.buttonList{
	//	min-width: 500px !important;
		height: 80px !important;
	}

	// next and previous
	#prev, #next{
		top: 0px !important;
		left: 0px !important;
		right: 0px !important;
		font-size: 2.5em !important;
		float: left;
	}

	.imageSize{
		position: relative !important;
		top: 0px !important;
		width: 35% !important;
	}

	h2.titles{
		font-size: 190% !important;
	}


}
